/*Yasmin Razo*/
body{background-color: #f5efe6;color:#4b3832}
h1,h2,h3{background-color:#8b5e3b; color:#ffffff}
nav{color:#d4a373}
main{background-color:#ffffff}
footer{background-color:#8b5e3b; color:#ffffff}